/* styles.css */

nav {
  background-color: #333;
  height: 10%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Creates a rounded mask */
  overflow: hidden; /* Clips the image to the rounded shape */
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  object-position: center; /* Centers the image within the container */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  padding: '20px';
  margin-right: 15px;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

li a:hover {
  background-color: #555;
}
